
body{
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    font-size: 1.6rem;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4rem 4rem 1rem;
    gap: 3rem;
}


.section-mobile{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    margin-bottom: 5rem;
}

.section-mobile .huddle{
  margin-bottom: 3rem;
  width: 13.5rem;
}
.section-mobile .banner{
    margin-block: auto;
 }

.main{
    color: white;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main .info{
    width: 200%;
    max-width: 455px;
    margin-block: auto;
    margin-top: 7rem;
}

.main .info h1{
    font-size: 2.3rem;
    font-weight: 600;
}

.main .info p{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}

.main .btn{
    cursor: pointer;
    padding: .5rem 2rem;
    margin-top: 2.5rem;
    border: 0;
    border-radius: 2rem;
    box-shadow: .4rem .4rem .5rem rga(0,0,0,.2);
    font-size: 1.2rem;
    color: hsl(257, 40%, 49%);
    background-color: white;
    transition: 5s;
}

.main .btn:hover,
.main .btn:focus{
    color: white;
    background-color: magenta;
}
.social_media{
    text-align: right;
    display: flex-end;
}

.social_media a{
    color: white;
    font-size: 2.3rem;
    padding: .6rem;
    line-height: 0;
    transition: .5s;
    text-decoration: none;
}

.main .social-media a:hover,
.main .social-media a :focus{
    border-color: magenta;
    color: magenta;
}