/* //tablet */
@media screen and (max-width: 1350px) {
    body{
       background-size: contain;
    }
         
    .container{
        padding: 8rem 8rem 4rem;
        flex-direction: column;
    }
    
    .section-mobile{
        width: 100%;
    }

    .section-mobile .huddle{
        width: 240px;
    }

    .section-mobile .banner{
        margin-block: 6rem 0;
    }

    .main{
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .main .info{
        max-width: 520px;
    }

    .main .info p{
        margin-top: 1rem;
    }

    .main:no-button{
        width: 75%;
    }

    .main .social-media{
        align-self: center;
        margin-top: 10rem;
        gap: 2rem;
    }
}

/* mobile */

@media screen and (max-width:600px){
    body{
        background: url(/src/images/bg-mobile.svg) no-repeat;
        background-size: contain;
        background-color: hsl(257, 40%, 49%);
    }

    .container{
        min-width: 320px;
        padding: 4rem 3rem;
        gap: 5rem;
    }

    .section-mobile .huddle{
        width: 160px;
    }

    .main .info h1{
        font-size: 2.8rem;
        max-width: 350px;
        margin-inline: auto;
    }

    .main .info p{
        width: 95%;
    }

    .main .social_media a{
        font-size: 2rem;
    }
}